body {
  display: flex;
}

h1 {
  display: flex;
  align-items: center;
  align-self: center;
  justify-self: center;
  text-align: center;
  color: crimson;
}
.board {
  display: flex;
  border: 5px solid black;
  width: max-content;
  margin: 2rem;
  
}
.sqr {
  display: flex;
  height: 75px;
  width: 75px;
  border: 0.1px solid black;
}
nav {
  background-color: aqua;
  
}